
* {
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    color: black
}

#economy h2 {
    color: black
}

.creation-date {
    color: black
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: white;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; exemplo de insercao de comentario*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
    font-size: 32px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article a {
    color: rgb(30, 47, 239);
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#economy {
    background-color: rgba(0,150, 255, 0.2);
}

#entertainment {
    background-color: rgba(255, 157, 0, 0.49);
}

#tecnology {
    background-color: rgba(220, 1, 249, 0.374);
}